*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco',cursive;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)),url('../images/coffee.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 20px;
	clear: both;

}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 10px;
}

.main-nav{
	float: right;
	margin-top: 30px;
	margin-right: 10px;
}

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 0px;
	margin-right: 0px;
}

.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    font-size: 90%;
    font-weight: 100px;
}

.main-nav li a:hover{
   border-bottom: 2px solid #bf55ec;
}

.main-content-header{
	width: 1180px;
	position: absolute;
	top: 50%;
	left: 50%
	transform:translate(-50%,-50%);
}


h1{
	color: #ff;
	font-size: 200%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-weight: lighter;
	text-transform: uppercase;
}
.btn{
	display: inline-block;
	padding: 0px,0px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full{
	background-color: transparent;
	color: #bf55ec;
	margin-right: 50px;
	border: 1px solid #bf55ec;
} 
.btn-full:hover{
	background-color: #fff;
}
.btn-nav{
	background-color: transparent;
	color: white;
	border: 1px solid white
}
.btn-nav:hover{
	background-color: #bf55ec;
}

.colorchange{
	animation: colorchanges 1s infinite;
}

@keyframes colorchanges{
	0%{color :red;}
	25%{color: #bf55ec;}
	50%{color: #fff;}
	100%{color: red;}
}
.mobile-icon{
	display: none;
}

@media only screen and (max-width: 1180px){
	.main-content-header{
		width: 100%;
		padding: 0 2%;
	}
}

@media only screen and (max-width: 998px){
	h1{font-size: 200%;}
}

@media only screen and (max-width: 768px){
	h1{font-size: 180%;}
	.main-nav{display: none;}

	.mobile-icon{display: inline-block;
        color: #fff;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
	}
    .main-nav{
    	float: left;
    }
	.mobile-nav li{
		float: left;
		display: block;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 480px){
	.btn-full{
		margin-bottom: 30px;
	}
	h1{font-size: 160%;}
}